<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- Email -->
    <div>
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" />
      <div
        *ngIf="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        "
      >
        Valid email is required
      </div>
    </div>

    <!-- Password -->
    <div>
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />
      <div
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
      >
        Password is required and should be at least 6 characters
      </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
